.semantic-html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.semantic-html h2 {
    color: #34495e;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.8em;
}

.semantic-html ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.semantic-html li {
    margin-bottom: 10px;
}

.semantic-html pre.code-snippet {
    background-color: #ecf0f1;
    padding: 15px;
    border-left: 5px solid #3498db;
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

.semantic-html a {
    color: #3498db;
    text-decoration: none;
}

.semantic-html a:hover {
    text-decoration: underline;
}

.semantic-html ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

.semantic-html ol li {
    margin-bottom: 10px;
}
